one-component/.ipynb_checkpoints/
two-component/.ipynb_checkpoints/
fast_one-component/.ipynb_checkpoints/
fast_two-component/.ipynb_checkpoints/
one-component/output/
two-component/output/
fast_one-component/output/
fast_two-component/output/
